*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/java/ch/hevs/androidproject644/js/workingtime/model/Subject.java
app/src/main/java/ch/hevs/androidproject644/js/workingtime/model/Observer.java
app/src/main/java/ch/hevs/androidproject644/js/workingtime/model/Subject.java
